<%= form_for(train) do |f| %>
 <%= render 'common/errors', resource: train  %>

  <div class="field">
    <%= f.label :number %>
    <%= f.text_field :number %>
  </div>
  <div class="field">
    <%= f.label :route %>
    <%= f.collection_select :route_id, Route.all, :id, :name, { include_blank: true } %>
  </div>

   <div class="field">
   <strong>Carriage numering:</strong><br>
    <%= f.label :numbering, 'Direct'%>
    <%= f.radio_button :numbering, true %><br>
    <%= f.label :numbering, 'Reverse'%>
    <%= f.radio_button :numbering, false %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
