<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @train.number %>
  <br>
  <strong>Route:</strong>
  <% if @train.route.present? %>
    <%= @train.route.name %>
  <% else %>
    Route not assigned!
  <% end %>
</p>

<p>
  <strong>Carriages:</strong>
  <ul>
    <% @train.carriages_order.each do |carriage| %>
      <li><%= link_to "#{carriage.number}", carriage.becomes(Carriage) %></li>
    <% end %>
  </ul>
  <%= link_to "Add Carriage", new_train_carriage_path(@train) %>
</p>

<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
