<p>
  <strong>Carriage #</strong>
  <%= @carriage.id %>
  <br>
  <strong>Carriage Class:</strong>
  <%= @carriage.type %>
  <br>
  <strong>Upper Seat: </strong>
  <%= @carriage.upper_seat %>,
  side: <%= @carriage.side_upper_seat %>
  <br>
  <strong>Bottom Seat: </strong>
  <%= @carriage.bottom_seat %>,
  side: <%= @carriage.side_bottom_seat %>
  <br>
  <strong>Sitting Seat: </strong>
  <%= @carriage.sitting_seat %>
  <br>
  <strong>Train:</strong>
  <% if @carriage.train.present? %>
    <%= @carriage.train.number %>
  <% else %>
    Train not assigned!
  <% end %>
</p>

<%= link_to 'Edit', edit_carriage_path(@carriage) %> |
<%= link_to 'Back', @carriage.train %> |
<%= link_to 'Destroy', @carriage, method: :delete, data: { confirm: 'Are you sure?' } %> 
