<p id="notice"><%= notice %></p>


  <strong>Name:</strong>
  <%= @route.name %>

  <br>
  <strong>Stations:</strong>
  <table>
    <thead>
      <tr>
        <td>Title</td>
        <td>Position</td>
        <td>Action</td>
        <td>Arrival</td>
        <td>Departure</td>
      </tr>
    </thead>
    <tbody>
      <% if @route.railway_stations.empty? %>
        <tr><td>No stations in the route!</td></tr>
      <% else %>
        <% @route.railway_stations.ordered.each do |station| %>
          <tr>
          <td><%= station.name %></td>
          <%= form_tag update_position_railway_station_path(station), method: :patch do %>
            <td><%= number_field_tag :position, station.position_in(@route) %></td>
                <%= hidden_field_tag :route_id, @route.id %>
            <td><%= submit_tag "Change" %></td>
          <% end %>
          <%= form_tag set_times_railway_station_path(station), method: :patch do %>
            <td><%= time_field_tag :arrival_time, station.time_in(@route, :arrival_time ) %></td>
            <td><%= time_field_tag :departure_time, station.time_in(@route, :departure_time) %></td>    
                <%= hidden_field_tag :route_id, @route.id %>
            <td><%= submit_tag '✓' %></td>
          <% end %>
            </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <strong>Trains:</strong>
  <ul>
  <% if @route.trains.empty? %>
    No trains in the route!
  <% else %>
    <% @route.trains.each do |train| %>
      <li><%= train.number %></li>
    <% end %>
  <% end %>
  </ul>

<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>