<p id="notice"><%= notice %></p>

<p>
  <strong>Railways station:</strong>
  <%= @controller.railways_station %>
</p>

<p>
  <strong>Name:</strong>
  <%= @controller.name %>
</p>

<%= link_to 'Edit', edit_controller_path(@controller) %> |
<%= link_to 'Back', controllers_path %>
